*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 40px;
  background-color: #151515;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
  font: bold;
  text-align: center;
  font-size: 48px;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.card{
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  min-height: 100px;

  border: 1px solid #4b5362;
  background-color: #4b5362;
  
}